$fill-color: #0061A8;

.#{$prefix}.mw--card-mastercard {
    &.mw--card-identified {
        .#{$prefix}-front, 
        .#{$prefix}-back {
            &:before {
                background-color: $fill-color;
            }
        }
        .#{$prefix}-logo {
            box-shadow: none;
            opacity: 1;
        }
    }
    
    .#{$prefix}-logo {
        $red: #EB001B;
        $yellow: #FF5F00;
        $offset: 0;
        color: #fff;
        font-size: 9px;
        font-style: normal;
        font-weight: bold;
        line-height: $mastercard-family-name-height;
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, .6);
        text-transform: lowercase;
        z-index: 1;

        &:before,
        &:after {
            border-radius: math.div($logo-height, 2);
            content: " ";
            display: block;
            height: $logo-height;
            position: absolute;
            top: 0;
            width: $logo-height;
        }
    
        &:before {
            background: $red;
            left: $offset;
            opacity: .9;
            z-index: -1;
        }
    
        &:after {
            background: $yellow;
            right: $offset;
            z-index: -2;
        }
    }    
}